* {
    @include default;
}

body {
    height: 100vh;
    @include flex-center;
    background: linear-gradient(0deg, rgba(150,2,254,1) 0%, rgba(250,0,213,1) 100%);
    @include bebas-font;
    font-size: 2.2rem;
    font-weight: 500;
}


