p {
    padding: 0.2rem;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: minmax(100px, auto) repeat(5, 90px);
    border-top: 4px solid $hover-grey;
    border-left: 4px solid $hover-grey;
    background: $background;
    box-shadow: 0 20px 50px $box-shadow;
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

.screen {
    @include flex-column;
    align-items: flex-end;
    justify-content: space-around;
    grid-area: 1/1/2/span 4;
    padding: 10px;
    color: $white;
}

button {
    @include button-none;
    cursor: pointer; 
    background: transparent;
    @include bebas-font;
    font-size: 1.8rem;
    font-weight: 600;
    color: $white;
}

button:hover {
    color: rgba(0, 0, 0, 0.336);
    @include transit-transform;
}

.equal {
    grid-area: 6/3/7/5;
}

.clearAll {
    grid-area: 2/1/3/3;
}

.clear {
    grid-area: 2/3/3/4;
}

.operators {
    grid-area: 2/4/6/5;
}

.operators {
    @include flex-column;
}

.operators > .btn {
    flex: 1;
}

